1st example

In [3]:
print("Hello, World!")

Hello, World!

2nd example

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

3rd example

In [11]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

4th example

In [16]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

5th example

In [19]:
x = 5
y = "Hello, World!"

6th example

In [24]:
#This is a comment.
print("Hello, World!")

Hello, World!

7th example

In [27]:
print("Hello, World!") #This is a comment

Hello, World!

8th example

In [30]:
print("Hello, World!") #This is a comment

Hello, World!

9th example

In [33]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

10th example

In [36]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

11th example

In [39]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

12th example

In [42]:
x = 5
y = "John"
print(x)
print(y)

5
John

13th example

In [45]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

14th example

In [48]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

15th example

In [51]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

16th example

In [54]:
x = "John"
# is the same as
x = 'John'

17th example

In [57]:
a = 4
A = "Sally"
#A will not overwrite a

18th example

In [60]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

19th example

In [63]:
myVariableName = "John" #Camel Case
MyVariableName = "John" #Pascal Case
my_variable_name = "John" #Snake Case

20th example

In [66]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

21st example

In [69]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

22nd example

In [72]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

23rd example

In [75]:
x = "Python is awesome"
print(x)

Python is awesome

24th example

In [78]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

25th example

In [81]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

26th example

In [84]:
x = 5
y = 10
print(x + y)

15

27th example

In [87]:
x = 5
y = "John"
print(x, y)

5 John

28th example

In [90]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

29th example

In [93]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

30th example

In [96]:
x = 5
print(type(x))

<class 'int'>

31st example

In [99]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

32nd example

In [102]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

33rd example

In [108]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

34th example

In [110]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

35th example

In [113]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

36th example

In [116]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

37th example

In [119]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

38th example

In [124]:
import random

print(random.randrange(1, 10))

5

39th example

In [128]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

40th example

In [131]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

41st example

In [134]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

42nd example

In [137]:
print("Hello")
print('Hello')
#'hello' is the same as "hello"

Hello
Hello

43rd example

In [141]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
#You can use quotes inside a string

It's alright
He is called 'Johnny'
He is called "Johnny"

44th example

In [144]:
a = "Hello"
print(a)

Hello

45th example

In [150]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
#You can use three double quotes

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

46th example

In [155]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
#Or three single quotes
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

47th example

In [158]:
b = "Hello, World!"
print(b[2:5])

llo

48th example

In [161]:
b = "Hello, World!"
print(b[:5])

Hello

49th example

In [164]:
b = "Hello, World!"
print(b[2:])

llo, World!

50th example

In [167]:
b = "Hello, World!"
print(b[-5:-2])

orl

51st example

In [170]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

52nd example

In [173]:
a = "Hello, World!"
print(a.lower())

hello, world!

53rd example

In [175]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

54th example

In [179]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

55th example

In [186]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

56th example

In [189]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

57th example

In [194]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

58th example

In [197]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

59th example

In [200]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

60th example

In [203]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

61st example

In [205]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

62nd example

In [209]:
txt = "We are the so-called \"Vikings\" from the north."